@use "../tools/functions" as *;

.content-page {
  &__grid {
    display: grid;
    grid-template-columns: 352px minmax(1px, 1fr);
    gap: 32px;
  }
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  gap: 32px;
  margin-bottom: 32px;

  @media screen and (min-width: 1240px) {
    .card-kamaz {
      padding: 15px 24px 24px;

      &__name {
        font-size: 18px;
        line-height: 24px;
      }

      &__bottom {
        flex-direction: column;
      }

      &__price {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .content-page {
    &__grid {
      grid-template-columns: 240px minmax(1px, 1fr);
    }
  }
}

@media screen and (max-width: 1365px) {
  .grid-card {
    grid-template-columns: repeat(2, minmax(1px, 1fr));
  }
}

@media screen and (max-width: 1240px) {
  .content-page {
    &__grid {
      grid-template-columns: minmax(1px, 1fr);
      row-gap: 32px;
    }
  }

  .grid-card {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .content-page {
    &__grid {
      row-gap: 28px;
    }
  }

  .grid-card {
    grid-template-columns: repeat(1, minmax(1px, 1fr));
    gap: 10px;
    margin-bottom: 40px;
  }
}
