mixin footer({})
  +cookie()
  footer.footer
    .container
      .footer__grid
        .footer__column
          .footer__wrapper-logo
            .footer-block-logo
              .footer-block-logo__wrap-img
                img.footer-block-logo__logo(src="img/svg/white-logo.svg" alt="")
              .footer-block-logo__wrap-text
                span.footer-block-logo__caption Юрто-Тракцентр
                p.footer-block-logo__text Официальный дилер ПАО «КАМАЗ»
            img.footer__logo(src="img/logo-show-block.png" alt="")
        .footer__column
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon.footer-nav__wrap-icon_mob-change
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Каталог автотехники
            ul.footer-nav__list
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Автотехника
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Спецавтотехника
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Прицепная техника
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Автобусы
        .footer__column
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Сервис и гарантийные обязательства
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Запасные части
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Финансовый сервис
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Акции
        .footer__column
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption О компании
            ul.footer-nav__list
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Компания
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Отзывы
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Новости
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Контакты
        .footer__column
          .footer-nav
            a.footer-nav__up(href="") 
              .footer-nav__wrap-icon.footer-nav__wrap-icon_mob-change
                .footer-nav__wrap-arrow
                  svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                    path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                    path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
              span.footer-nav__caption Официальные сайты
            ul.footer-nav__list
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span ПАО «КАМАЗ»
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span Лизинговая компания КАМАЗ
              li.footer-nav__item
                a.footer-nav__link(href="")
                  .footer-nav__wrap-arrow
                    svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                      path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                      path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
                  span ООО «Автозапчасть КАМАЗ»
        .footer__column
          .footer__wrap-info
            a.link-tell(href="tel:88002220409") 
              +icon('phone')
              span 8 800 222 04 09
            span.total-addres Адрес: г. Краснодар, ул. Ростовское ш., 47      
            +button({
              text: 'написать нам',
              theme: 'green',
              elemHref: '#',
              svgIconEnd: 'whatsapp-2',
              className: 'whatsapp-2-icon'
            })

      .footer__bottom
        .copyright
          span
            //- | 2025 © 
            b.white ООО «ЮРТО-ТРАКЦЕНТР». 
            | Все права защищены.
        
        .footer__bottom-wrap
          a.footer-nav__link(href="")
            .footer-nav__wrap-arrow
              svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
            span Политику конфиденциальности  
          a.footer-nav__link(href="")
            .footer-nav__wrap-arrow
              svg(viewBox="0 0 25 14" xmlns="http://www.w3.org/2000/svg")
                path(d="M17 12.7071L23 6.70711M23 6.70711L17 0.707107" stroke="currentColor" stroke-width="2")
                path(class="arrow-tail" d="M23 6.70711 L0 6.70711" stroke="currentColor" stroke-width="2" stroke-dasharray="23" stroke-dashoffset="23")
            span Согласие на обработку персональных данных

        .website-creation
          span.website-creation__text
            | Создание сайта - 
            span.yellow 
              a(href="") Very-good 
          a.website-creation__wrap-logo(href="") 
            +icon('logo-creation')