include header
include footer
include mobile-menu
include button
include picture
include icon
include accordion
include checkbox
include navigation-slider
include first-slider
include vehicle-catalog
include tag
include card-kamaz
include show-block
include card-news
include slider-two
include breadcrumbs
include filter
include pagination
include card-review
include card-departments
include cookie
include modal
