extends ../layouts/base.pug

block vars
  -
    const swiper = true
  -
    const map = true
  - 
    const breadcrumbs = [
      {
        url: '#',
        title: 'Главная'
      },
      {
        url: '#',
        title: 'О компании'
      },
      {
        title: 'Компания'
      }
    ]
  - 
    const news = [
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href=""><nobr>KAMAZ-54901</nobr></a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href="">KAMAZ-54901</a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
    ]
  -
    const advantages = [
      {
        icon: 'advantages-1',
        caption: 'теплый прием',
        text: 'Описание преимущества, может быть в несколько строк'
      },
      {
        icon: 'advantages-2',
        caption: 'Широкий ассортимент',
        text: 'Описание преимущества, может быть в несколько строк'
      },
      {
        icon: 'advantages-3',
        caption: 'высокое Качество',
        text: 'Описание преимущества, может быть в несколько строк'
      },
      {
        icon: 'advantages-4',
        caption: 'выгодные условия',
        text: 'Описание преимущества, может быть в несколько строк'
      },
      {
        icon: 'advantages-5',
        caption: 'Быстрые поставки',
        text: 'Описание преимущества, может быть в несколько строк'
      },
      {
        icon: 'advantages-6',
        caption: 'Удобное расположение',
        text: 'Описание преимущества, может быть в несколько строк'
      },
    ]
  -
    const departments = [
      {
        caption: 'Отдел продаж',
        tell: '+7 (928) 404-90-20',
        email: 'eremenko@urto-truck.ru',
      },
      {
        caption: 'Отдел сервиса',
        tell: '+7 (928) 404-90-60',
        email: 'service@urto-truck.ru',
      },
      {
        caption: 'Отдела продаж зап. частей',
        tell: '+7 (928) 404-60-20',
        email: 'opt@urto-truck.ru',
      },
      {
        caption: 'Отдел гарантийного ремонта',
        tell: '+7 (928) 404-46-40',
        email: 'beskopilnaya@urto-truck.ru',
      },
      {
        caption: 'Отдел продаж',
        tell: '+7 (928) 404-90-20',
        email: 'eremenko@urto-truck.ru',
      },
      {
        caption: 'Отдел сервиса',
        tell: '+7 (928) 404-90-60',
        email: 'service@urto-truck.ru',
      },
      {
        caption: 'Отдела продаж зап. частей',
        tell: '+7 (928) 404-60-20',
        email: 'opt@urto-truck.ru',
      },
      {
        caption: 'Отдел гарантийного ремонта',
        tell: '+7 (928) 404-46-40',
        email: 'beskopilnaya@urto-truck.ru',
      },{
        caption: 'Отдел продаж',
        tell: '+7 (928) 404-90-20',
        email: 'eremenko@urto-truck.ru',
      },
      {
        caption: 'Отдел сервиса',
        tell: '+7 (928) 404-90-60',
        email: 'service@urto-truck.ru',
      },
      {
        caption: 'Отдела продаж зап. частей',
        tell: '+7 (928) 404-60-20',
        email: 'opt@urto-truck.ru',
      },
      {
        caption: 'Отдел гарантийного ремонта',
        tell: '+7 (928) 404-46-40',
        email: 'beskopilnaya@urto-truck.ru',
      },
    ]

block body
  section.up-section-bg.gray-bg
    section.bread-crumbs
      .container
        +breadcrumbs({
          items: breadcrumbs,
        })

    section.line-title-page
      .container
        .line-title-page__wrapper
          h1.title-page Компания
          .line-title-page__grid
            .advantages
              .advantages__list
                each item in advantages
                  .advantages__item
                    .advantages__wrap-icon
                      +icon(item.icon)
                    .advantages__wrap-text
                      span.advantages__caption !{item.caption}
                      span.advantages__text !{item.text}

  section.content-page
    .container
      .wrapper-text-area.wrapper-text-area_no-bottom-offset.wrapper-text-area_no-top-offset
        .sm-container
          .text-area.text-area_change
            p Коммерческую деятельность компания начала с&nbsp;2004&nbsp;года, основным было выбрано направление продаж импортной грузовой техники из&nbsp;Европы. По&nbsp;результатам 2006 года компания была признана лидером продаж на&nbsp;Юге России. На&nbsp;тот момент торговые площадки компании насчитывали более 50&nbsp;единиц седельных тягачей и&nbsp;полуприцепов.
            p В&nbsp;2007 году было принято стратегическое решение и&nbsp;компания ЮРТО-ТРАК стала официальным представителем концерна Renault Trucks, заключив договор с&nbsp;ООО &laquo;Рено Тракс Восток&raquo;. Результатом данного плодотворного сотрудничества, стало подписание контракта на&nbsp;поставку ПЕРВЫХ 100 автопоездов Renault Premium 6&times;2&nbsp;с прицепами Schmitz Cargobull для компании ЗАО &laquo;ТАНДЕР&raquo;, сети магазинов &laquo;МАГНИТ&raquo;. В&nbsp;дальнейшем был подписан долгосрочный договор на&nbsp;техническое обслуживание и&nbsp;сервис данных автопоездов. Наше сотрудничество с&nbsp;сетью магазинов &laquo;МАГНИТ&raquo; продолжается и&nbsp;по&nbsp;сей день, этот факт подтверждает высокий профессионализм наших сотрудников и&nbsp;удержание лидирующих позиций в&nbsp;области продаж и&nbsp;обслуживания грузовой техники.
            p В&nbsp;2010 году построена и&nbsp;введена в&nbsp;эксплуатацию современная станция технического обслуживания на&nbsp;19&nbsp;сквозных постов, оснащенная современным профессиональным оборудованием и&nbsp;инструментами от&nbsp;ведущих мировых брендов.
            +picture({
              'x1': 'img/company-1.jpg',
              'x2': 'img/company-1@2x.jpg',
            })
            p Выгодное расположение сервисного центра на&nbsp;основном шоссе ведущем в&nbsp;город Краснодар со&nbsp;стороны Москвы, позволило организовать хорошо просматриваемую витрину товарной техники, а&nbsp;также обеспечить удобство для посещения станции клиентам, нуждающимся в&nbsp;техническом обслуживании.
            +picture({
              'x1': 'img/company-2.jpg',
              'x2': 'img/company-2@2x.jpg',
            })
            p Спустя два года компания ЮРТО-ТРАК вышла в&nbsp;лидеры продаж автомобилей Renault Trucks и&nbsp;заняла 2-е место среди дилерской сети на&nbsp;всей территории России.
            p В&nbsp;2013 году компания ЮРТО-ТРАК первая в&nbsp;России получила статус официального дилера двойного бренда <span class="georgia-font">VOLVO</span> и&nbsp;<span class="georgia-font">RENAULT</span>, зарекомендовав себя, как надежный поставщик товаров и&nbsp;услуг в&nbsp;своей сфере деятельности и&nbsp;награждена как Лучший дилерский центр в&nbsp;номинации &laquo;Послепродажное обслуживание&raquo; <span class="georgia-font">VOLVO GROUP TRUCKS</span>.
            +picture({
              'x1': 'img/company-3.jpg',
              'x2': 'img/company-3@2x.jpg',
            })
            p В&nbsp;2015 году компанией был расширен спектр предоставляемых услуг, введен в&nbsp;эксплуатацию цех кузовного ремонта не&nbsp;имеющий аналогов по&nbsp;оснащению оборудования на&nbsp;Юге России. По&nbsp;состоянию на&nbsp;2022г. кузовной цех насчитывает 18&nbsp;ремонтных постов, в&nbsp;том числе 120 метров силовых полов. Современный СТАПЕЛЬ и&nbsp;оборудование JOSAM, опытные мастера позволили осуществлять самые сложные ремонты по&nbsp;восстановлению геометрии рам автомобильной и&nbsp;прицепной коммерческой техники, включая рихтовку и&nbsp;покраску в&nbsp;Итальянской покрасочной камере TERMOMECANIKA длинной 15&nbsp;метров. Благодаря этому компания ЮРТО-ТРАК ЦЕНТР расширила партнерские долгосрочные договорные отношения с&nbsp;ведущими страховыми компаниями России.
            +picture({
              'x1': 'img/company-4.jpg',
              'x2': 'img/company-4@2x.jpg',
            })
            p В&nbsp;апреле 2016 года компанией ЮРТО-ТРАК ЦЕНТР был подписан дилерский контракт с&nbsp;представительством &laquo;МАN Truck&amp;Вus RUS&raquo; LLC, тем самым получив статус единственного официального дилерского центра в&nbsp;Краснодарском крае.
            p Компания ЮРТО-ТРАК ЦЕНТР обеспечивает профессиональную всестороннюю партнерскую поддержку клиентам. Наряду с&nbsp;действующей современной СТО, обслуживающей одновременно до&nbsp;24&nbsp;единиц техники, в&nbsp;наличии имеется склад оригинальных запасных частей, насчитывающий более 5&nbsp;000 наименований запасных частей. И&nbsp;склад новых автомобилей МАN в&nbsp;комплектациях, удовлетворяющих запросы разного уровня клиентов. Имеется выездное дистанционное обслуживание&nbsp;ТС по&nbsp;всему Краснодарскому краю. Предоставляется расширенная гарантия, сервисные контракты и&nbsp;GOODWILL.
            p В&nbsp;целях содействия клиентам в&nbsp;вопросе оперативной доставки на&nbsp;сервисную станцию ЮРТО-ТРАКЦЕНТР автомобилей не&nbsp;способных передвигаться своим ходом в&nbsp;2020 году было принято решение и&nbsp;застроен собственный эвакуатор на&nbsp;шасси MAN TGA 26.480 6&times;2-2&nbsp;BL. Комплектация эвакуатора позволяет перевозить и&nbsp;эвакуировать из&nbsp;кювета грузовые транспортные средства любой модификации, в&nbsp;том числе и&nbsp;в&nbsp;загруженном состоянии, а&nbsp;также все виды автобусов.
            +picture({
              'x1': 'img/company-5.jpg',
              'x2': 'img/company-5@2x.jpg',
            })
            p Компания ЮРТО имеет юридический статус официально &laquo;одобренного поставщика товаров и&nbsp;услуг&raquo; у&nbsp;ПАО &laquo;НК-Роснефть&raquo; на&nbsp;протяжении более 10&nbsp;лет подряд, в&nbsp;числе надежных партнеров компании можно отметить ООО &laquo;БАТО&raquo;, АО&nbsp;&laquo;Международный аэропорт Краснодар&raquo;, АО&nbsp;&laquo;Международный аэропорт Сочи&raquo;, ЗАО &laquo;Таманьнефтегаз&raquo;, ПАО &laquo;Мостотрест&raquo;, &laquo;Лукойл&raquo;, &laquo;Газпромнефть&raquo;, ООО &laquo;Вайлдбериз&raquo; и&nbsp;многие другие партнеры, с&nbsp;которыми закреплены долгосрочные отношения.
            p В&nbsp;случае возникновения спорных моментов, мы&nbsp;не&nbsp;перекладываем ответственность на&nbsp;плечи оппонента&nbsp;&mdash; мы&nbsp;разбираемся всесторонне и&nbsp;справедливо!!! Вне зависимости от&nbsp;результата, мы&nbsp;всегда найдем компромисс и&nbsp;лояльное решение с&nbsp;нашими клиентами!
            p Склад запасных частей ЮРТО-ТРАКЦЕНТР насчитывает более 10&nbsp;000 позиций на&nbsp;сумму более 40&nbsp;000&nbsp;000&nbsp;рублей. Так&nbsp;же на&nbsp;территории ЮРТО-ТРАКЦЕНТР размещен официальный склад запасных частей завода изготовителя ТОНАР в&nbsp;Южном федеральной округе.
            p В&nbsp;июне 2022 года подписан дилерский договор на&nbsp;реализацию и&nbsp;послепродажное обслуживание техники SITRAK и&nbsp;HOWO.
            +picture({
              'x1': 'img/company-6.jpg',
              'x2': 'img/company-6@2x.jpg',
            })
            p Компания ЮРТО-ТРАК ЦЕНТР сертифицирована в&nbsp;Системе Менеджмента Качества ISO-9001:2015, IDT и&nbsp;соответствует требованиям ГОСТ Р&nbsp;ИСО 9001-2015. Полагаясь на&nbsp;потенциал и&nbsp;профессионализм своих сотрудников, находится в&nbsp;постоянном развитии и&nbsp;совершенствовании внутренних процессов, ведении поиска новых технологий и&nbsp;возможностей, внедрении инновационных решений, которые отвечают высоким требованиям транспортных компаний. Достижение высоких результатов возможно, благодаря главной ценности&nbsp;&mdash; сотрудники, один из&nbsp;основных ресурсов успеха в&nbsp;оказании услуг в&nbsp;сложной конкурентной борьбе. Компания обучает и&nbsp;развивает профессиональные навыки своих сотрудников, что подтверждается, наличием в&nbsp;дилерском центре в&nbsp;публичном обозрении множества сертификатов.
            p Деятельность компании &laquo;ЮРТО-ТРАКЦЕНТР&raquo; неоднократно удостаивалась высоких наград различных брендов, с&nbsp;которыми случилось поработать за&nbsp;время существования компании, за&nbsp;развитие продаж в&nbsp;регионе и&nbsp;вклад в&nbsp;развитие послепродажного обслуживания.
            +picture({
              'x1': 'img/company-7.jpg',
              'x2': 'img/company-7@2x.jpg',
            })
            p После нескольких лет работы в&nbsp;автомобильном бизнесе мы&nbsp;определили приоритеты в&nbsp;развитии и&nbsp;сформулировали нашу миссию: &laquo;Исправный автомобиль в&nbsp;кратчайшие сроки, при отличном качестве и&nbsp;доступной цене&raquo;



  section.section.bg-gray.inner-offset-slider.offset-bottom
    .container
      .row-title.section__up
        .row-title__flex
          h2.title-md Новости и акции
          +tag({
            text: 'перейти в раздел',
            className: 'yellow',
          })
        .row-title__wrap
          +navigation-slider({
            classPrev: 'js-newsAndStock-prev',
            classNext: 'js-newsAndStock-next',
            pagination: 'js-newsAndStock-pagination'
          })
      .slider-block
        +slider-two({nameSlider: 'js-newsAndStock'})
          each item in news
            .slider-two__slide.swiper-slide
              +card-news({
                img: item.img,
                caption: item.caption,
                text: item.text,
                date: item.date,
                event: item.event
              })

  section.section
    .container
      .row-title.section__up
        .row-title__flex
          h2.title-md Контакты
      .section__content
        .contacts.change-offset
          .contacts__grid
            .contacts__left
              .contacts__map#map
            .contacts__right
              .contacts__row
                span.contacts__description Адрес:
                .contacts__flex
                  .contacts__icon
                    img(src="img/svg/house.svg", alt="")
                  p.contacts__text 350087, Россия, Краснодарский край, г. Краснодар, Ростовское шоссе 47
              .contacts__row
                span.contacts__description Телефоны:
                .contacts__flex
                  .contacts__icon
                    img(src="img/svg/phone.svg", alt="")
                  p.contacts__text <nobr>8 800 222 04 09;</nobr> <nobr>+7 (928) 404-90-60;</nobr> <nobr>+7 (861) 225-93-75</nobr>
              .contacts__row
                span.contacts__description Отдел продаж:
                .contacts__flex
                  .contacts__icon
                    img(src="img/svg/cart.svg", alt="")
                  p.contacts__text +7 (928) 404-90-20
              .contacts__wrap-btn
                +button({
                  text: 'Скачать реквизиты',
                  theme: 'yellow',
                  elemHref: '#',
                  svgIconEnd: 'download',
                  className: 'download-icon'
                })
                +button({
                  text: 'Написать сообщение',
                  theme: 'yellow',
                  elemHref: '#',
                  svgIconEnd: 'mail',
                  className: 'mail-icon'
                })

  section.section.company-departments
    .container
      .row-title.section__up
        .row-title__flex
          h2.title-md Отделы компании
        .row-title__wrap
          +navigation-slider({
            classPrev: 'js-companyDepartments-prev',
            classNext: 'js-companyDepartments-next',
            pagination: 'js-companyDepartments-pagination'
          })
      .slider-block
        +slider-two({nameSlider: 'js-companyDepartments'})
          each item in departments
            .slider-two__slide.swiper-slide
              +card-departments({
                caption: item.caption,
                tell: item.tell,
                email: item.email,
              })       