extends ../layouts/base.pug

block body
  div(style="display: flex;justify-content: flex-start;padding: 300px 60px 0;gap:16px;flex-direction: column; max-width: 1544px; margin: 0 auto; height: 100vh;")
    a(href="main.html" style="font-size: 28px;" target='_blank') Главная
    a(href="catalog.html" style="font-size: 28px;" target='_blank') Каталог
    a(href="auto-page.html" style="font-size: 28px;" target='_blank') Страница авто
    a(href="stock.html" style="font-size: 28px;" target='_blank') Акции
    a(href="stock-inner.html" style="font-size: 28px;" target='_blank') Акции внутренняя
    a(href="reviews.html" style="font-size: 28px;" target='_blank') Отзывы
    a(href="reviews-inner.html" style="font-size: 28px;" target='_blank') Отзывы внутренняя
    a(href="company.html" style="font-size: 28px;" target='_blank') Компания 
    a(href="contacts.html" style="font-size: 28px;" target='_blank') Контакты
    a(href="financial-service.html" style="font-size: 28px;" target='_blank') Финансовый сервис
    a(href="spare-parts.html" style="font-size: 28px;" target='_blank') Запасные части
    a(href="404.html" style="font-size: 28px;" target='_blank') 404
    a(href="stub.html" style="font-size: 28px;" target='_blank') Заглушка