extends ../layouts/base.pug

block vars
  -
    const swiper = true
  - 
    const breadcrumbs = [
      {
        url: '#',
        title: 'Главная'
      },
      {
        url: '#',
        title: 'Отзывы'
      },
      {
        title: 'Имя автора комментария'
      }
    ]
  - 
    const reviews = [
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании». «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании». «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      }, 
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет&nbsp;легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      }, 
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
    ]

block body
  section.bread-crumbs
    .container
      +breadcrumbs({
        items: breadcrumbs,
      })

  section.line-title-page.line-title-page_offset-reviews
    .container
      .line-title-page__wrapper
        h1.title-page Имя автора комментария
        .line-title-page__row
          +tag({
            text: 'назад к списку',
            className: 'yellow reverse',
          })
          .review-row
            span.review-row__caption авто: 
            span.review-row__value КАМАЗ 4308-69 8,5 м.
          .review-row
            span.review-row__caption пробег: 
            span.review-row__value 101 000 км 

  section.content-page
    .container
      .wrapper-text-area.wrapper-text-area_no-bottom-offset.border-top
        .sm-container        
          .text-area
            p <b>ПАО "КАМАЗ"</b> дарит <b>скидку до 2 %</b> клиентам АО "Росагролизинг" на весь перечень техники!
            div
              span <b>Акция «Стабильный год» при поддержке АО "Росагролизинг" позволяет приобрести технику ПАО "КАМАЗ" на особых условиях:</b>
              ol
                li Годовое удорожание от 3,3% – одна из самых низких ставок на рынке!
                li Отсрочка платежа на 1 год* (по основному долгу при аннуитетном графике).
                li Аванс от 0% – минимум первоначальных вложений.
                li  Срок лизинга – до 7 лет с гибким графиком платежей (аннуитетный, регрессивный, сезонный или индивидуальный).
                li Сокращенный пакет документов – быстрое оформление.
                li ONLINE-сделка – получите технику без лишних визитов в офис.
                li Совмещение с господдержкой – дополнительные выгоды для вашего бизнеса.
            div
              span <b>Кто может участвовать?</b>
              ul
                li Сельхозтоваропроизводители (СХТП)
                li Машинно-тракторные комплексы (МТК/МТС)
                li Сервисные центры
                li Научные и образовательные организации в АПК
                li Переработчики сельхозпродукции (юридические лица и ИП)
            p Успейте до 30.09.2025! 

            span.info-text *Отсрочка платежа на 12 месяцев предоставляется по основному долгу при аннуитетном графике (не распространяется на авансовые платежи).#[br] **Годовое удорожание 3,3% действует при максимальном сроке лизинга и авансовом платеже.
            p <b>Оставьте заявку прямо сейчас и получите технику КАМАЗ на лучших условиях! </b>
            
            
  
  section.section.bg-gray.inner-offset-slider
    .container
      .row-title.section__up
        .row-title__flex
          h2.title-md Смотрите так же
          +tag({
            text: 'Смотреть все',
            className: 'yellow',
          })
        .row-title__wrap
          +navigation-slider({
            classPrev: 'js-reviewsSlider-prev',
            classNext: 'js-reviewsSlider-next',
            pagination: 'js-reviewsSlider-pagination'
          })
      .slider-block
        +slider-two({nameSlider: 'js-reviewsSlider'})
          each item in reviews
            .slider-two__slide.swiper-slide
              +card-review({
                text: item.text,
                btn: item.btn
              })