extends ../layouts/base.pug

block vars
  - 
    const breadcrumbs = [
      {
        url: '#',
        title: 'Главная'
      },
      {
        title: 'Отзывы'
      }
    ]
  - 
    const reviews = [
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании». «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании». «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      }, 
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет&nbsp;легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      }, 
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике».',
        btn: false,
      },
      {
        text: '«Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».  «Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании, экономичный и достаточно вместительный для городских и пригородных перевозок. Маневренность позволяет легко передвигаться даже в плотном городском трафике. Могу сказать, что это отличный рабочий автомобиль: простой в обслуживании».',
        btn: true,
      },
    ]

block body
  section.bread-crumbs
    .container
      +breadcrumbs({
        items: breadcrumbs,
      })

  section.line-title-page.line-title-page_change-offset-1
    .container
      .line-title-page__wrapper
        h1.title-page Отзывы

  section.content-page
    .container
      .grid-card
        each item in reviews
          +card-review({
            text: item.text,
            btn: item.btn
          })
          
      +pagination({})