extends ../layouts/base.pug

block vars
  - 
    const breadcrumbs = [
      {
        url: '#',
        title: 'Главная'
      },
      {
        title: 'Акции'
      }
    ]
  - 
    const news = [
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href=""><nobr>KAMAZ-54901</nobr></a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href="">KAMAZ-54901</a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href="">KAMAZ-54901</a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
    ]

block body
  section.bread-crumbs
    .container
      +breadcrumbs({
        items: breadcrumbs,
      })

  section.line-title-page.line-title-page_change-offset-1
    .container
      .line-title-page__wrapper
        h1.title-page Акции

  section.content-page
    .container
      .grid-card
        each item in news
          +card-news({
            img: item.img,
            caption: item.caption,
            text: item.text,
            date: item.date,
            event: item.event
          })
          
          
      +pagination({})