extends ../layouts/base.pug

block vars
  -
    const swiper = true
  - 
    const breadcrumbs = [
      {
        url: '#',
        title: 'Главная'
      },
      {
        url: '#',
        title: 'Акции'
      },
      {
        title: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!'
      }
    ]
  - 
    const news = [
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href=""><nobr>KAMAZ-54901</nobr></a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
      {
        img: 'news-card-img-1',
        caption: 'Руководители российских промышленных предприятий посетили «КАМАЗ»',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-2',
        caption: 'Купи КАМАZ-54901 на СПГ и получи 17 тонн СПГ в подарок!',
        text: 'При покупке автомобиля <a href="">KAMAZ-54901</a> вы&nbsp;получите специальный флаер, он даст Вам доступ к подарочному объему СПГ от ООО «Газпром СПГ технологии»',
        date: 'с 17.06.2025 по 31.12.2025',
        event: 'акция',
      },
      {
        img: 'news-card-img-3',
        caption: 'Подарки первоклассникам от предприятия Группы ОАТ',
        text: 'В рамках делового визита руководители и специалисты ведущих российских промышленных предприятий посетили Научно-технический центр «КАМАЗа».',
        date: '14.06.2025',
      },
      {
        img: 'news-card-img-4',
        caption: 'Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!',
        text: 'ПАО "КАМАЗ" дарит скидку до 2 % клиентам АО "Росагролизинг" на весь перечень техники!',
        date: 'с 17.06.2025 по 31.12.2025',
      },
    ]

block body
  section.bread-crumbs
    .container
      +breadcrumbs({
        items: breadcrumbs,
      })

  section.line-title-page.line-title-page_lg-offset
    .container
      .line-title-page__wrapper
        h1.title-page Специальное предложение на технику КАМАЗ – скидка до 2 % + выгодный лизинг!
        .line-title-page__row
          +tag({
            text: 'назад к списку',
            className: 'yellow reverse',
          })

  section.content-page
    .container
      .wrapper-text-area.wrapper-text-area_no-bottom-offset.wrapper-text-area_no-top-offset
        .sm-container        
          .text-area
            +picture({
              'x1': 'img/text-area-img.jpg',
              'x2': 'img/text-area-img@2x.jpg',
            })
            p <b>ПАО "КАМАЗ"</b> дарит <b>скидку до 2 %</b> клиентам АО "Росагролизинг" на весь перечень техники!
            div
              span <b>Акция «Стабильный год» при поддержке АО "Росагролизинг" позволяет приобрести технику ПАО "КАМАЗ" на особых условиях:</b>
              ol
                li Годовое удорожание от 3,3% – одна из самых низких ставок на рынке!
                li Отсрочка платежа на 1 год* (по основному долгу при аннуитетном графике).
                li Аванс от 0% – минимум первоначальных вложений.
                li  Срок лизинга – до 7 лет с гибким графиком платежей (аннуитетный, регрессивный, сезонный или индивидуальный).
                li Сокращенный пакет документов – быстрое оформление.
                li ONLINE-сделка – получите технику без лишних визитов в офис.
                li Совмещение с господдержкой – дополнительные выгоды для вашего бизнеса.
            div
              span <b>Кто может участвовать?</b>
              ul
                li Сельхозтоваропроизводители (СХТП)
                li Машинно-тракторные комплексы (МТК/МТС)
                li Сервисные центры
                li Научные и образовательные организации в АПК
                li Переработчики сельхозпродукции (юридические лица и ИП)
            p Успейте до 30.09.2025! 

            span.info-text *Отсрочка платежа на 12 месяцев предоставляется по основному долгу при аннуитетном графике (не распространяется на авансовые платежи).#[br] **Годовое удорожание 3,3% действует при максимальном сроке лизинга и авансовом платеже.
            p <b>Оставьте заявку прямо сейчас и получите технику КАМАЗ на лучших условиях! </b>



  section.section.bg-gray.inner-offset-slider
    .container
      .row-title.section__up
        .row-title__flex
          h2.title-md Смотрите так же
          +tag({
            text: 'Смотреть все',
            className: 'yellow',
          })
        .row-title__wrap
          +navigation-slider({
            classPrev: 'js-newsAndStock-prev',
            classNext: 'js-newsAndStock-next',
            pagination: 'js-newsAndStock-pagination'
          })
      .slider-block
        +slider-two({nameSlider: 'js-newsAndStock'})
          each item in news
            .slider-two__slide.swiper-slide
              +card-news({
                img: item.img,
                caption: item.caption,
                text: item.text,
                date: item.date,
                event: item.event
              })