doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/styles.min.css" rel='stylesheet')      
    title= 'Мой сайт'

  body
    main
      section.stub
        .stub__container
          .stub__bg
            picture.picture
              source(srcset="img/stub@2x.jpg" media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)")
              source(srcset="img/stub_mob.jpg" media="(max-width: 767px)")
              img(src="img/stub.jpg" alt="")
          .container
            .stub__wrapper
              .stub__up
                img.stub__logo(src="img/svg/logo.svg", alt="")
                span.stub__caption Юрто-Тракцентр
                span.stub__text Официальный дилер ПАО «КАМАЗ»
              h1.stub__title Сайт в разработке
              .stub__block
                span.stub__sm-caption Адрес:
                span.stub__lg-text Россия, Краснодарский край, г. Краснодар, Ростовское шоссе, 47
                a.stub__tell(href="tell:88002220409") 8 800 222 04 09
                span.stub__info-text (многоканальный)
              .stub__block
                span.stub__sm-caption Запись на сервис:
                .stub__row
                  a.stub__tell-sm(href="tell:89284049060") 8 928 404 90 60, 
                  a.stub__tell-sm(href="tell:89284049080") 8 928 404 90 80
                a.stub__email(href="mailto:service@urto-truck.ru") service@urto-truck.ru
              .stub__block
                span.stub__sm-caption Отдел продаж:
                .stub__row
                  a.stub__tell-sm(href="tell:89280405858") 8 928 040 58 58,  
                  a.stub__tell-sm(href="tell:89384049222") 8 938 404 92 22, 
                  a.stub__tell-sm(href="tell:89280357733") 8 928 035 77 33
                a.stub__email(href="mailto:office@urto-truck.ru") office@urto-truck.ru